@model Sekretari_Demo.Models.Mesuesi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mesuesi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mbiemri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mbiemri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nr_Telefoni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_Telefoni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lenda.emri_lendes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lenda.emri_lendes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_mesuesi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
